body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(16, 233, 249, .5) 40%, rgb(0, 250, 162, .5));
  /*background-image:*/
  /*        radial-gradient(at 0% 0%, hsla(237,54%,7%,1) 0, transparent 50%),*/
  /*        radial-gradient(at 50% 0%, hsla(184,95%,52%,1) 0, transparent 50%),*/
  /*        radial-gradient(at 100% 0%, hsla(156,100%,49%,1) 0, transparent 50%);*/

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0, 250, 162, .5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #08091b;
  /*border-radius: 5px;*/
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  #08091b;
}

